.button {
    margin-top: 30px;
    padding: 10px 30px;

    border: 4px solid var(--color-primary);
    border-radius: 25px;

    display: inline-flex;

    font-size: typo(14px, 16px);
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-primary);

    transition: all 0.7s $ease-out-expo;

    &:hover {
        text-decoration: none;
        background-color: var(--color-primary);
        color: var(--color-black);
    }
}
