.header {
    padding: 22px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        font-size: typo(40px, 30px);
        font-weight: 900;
        color: #444;
        font-family: var(--font-primary);

        .icon {
            color: var(--color-primary);
        }
    }

    ul {
        font-weight: 700;
        text-transform: uppercase;

        display: flex;
        gap: 50px;

        list-style-type: none;

        font-size: var(--font-size-nav);

        a {
            color: var(--color-black);
        }
    }
}
